body {
  background-image: url("https://carontestudio.com/img/caronte-web-estudio-logo.png");
  background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A00E0, #8E2DE2); 
  
}

form button {
  margin-bottom: 30px;
}

fieldset {
  margin-bottom: 10px;
}

.field {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.field label {
  min-width: 30%;
}

.card {
  margin-bottom: 20px;
}