{% extends "layout.html" %}
{% block body %}

<div class="row">
    <div class="col-md-5">
        <div class="card card-body">
            <form action="{{url_for('add_client')}}" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="ci" placeholder="Carnet de Identidad">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="nombre" placeholder="Nombre">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="ape_pat" placeholder="Apellido Paterno">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="ape_mat" placeholder="Apellido Materno">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Nombre de usuario">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="contrasenia" placeholder="Contraseña">
                </div>
                <button class="btn btn-primary btn-block">
                    Guardar
                </button>
            </form>
        </div>
    </div>
    <div class="col-md-7">
        <table class="table table-striped table-hover table-bordered table-sm bg-white">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>CI</td>
                    <td>Nombre</td>
                    <td>Ape. Paterno</td>
                    <td>Ape. Materno</td>
                    <td>Password</td>
                    <td>Username</td>
                    <td>Rol</td>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{user.0}}</td>
                    <td>{{user.1}}</td>
                    <td>{{user.2}}</td>
                    <td>{{user.3}}</td>
                    <td>{{user.4}}</td>
                    <td>{{user.5}}</td>
                    <td>{{user.6}}</td>
                    <td>{{user.7}}</td>
                    <td>
                        <a href="/edit/{{users.0}}" class="btn btn-secondary">edit</a>
                        <a href="/delete/{{users.0}}" class="btn btn-danger btn-delete">delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>

{% endblock %}